{% extends "base.html" %}
{% block title %}About - {{ block.super }}{% endblock %}
{% block content %}
  <h1>{{ title }} page</h1>
  <ul>
    <a href="/">
      <li>Home</li>
    </a>
    <a href="/about">
      <li>About</li>
    </a>
  </ul>
  <h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error itaque obcaecati et explicabo eos ut temporibus placeat optio necessitatibus corrupti accusamus eum possimus assumenda soluta repudiandae incidunt, rerum vero numquam?
  </h2>
{% endblock %}
