{% extends "base.html" %}
{% block title %}
Home - {{ block.super }}
{% endblock %}
{% block content %}
<h1> {{ title }} Page </h1>
<ul>
    <a href="/">
        <li>Home</li>
    </a>
    <a href="/about">
        <li>About</li>
    </a>
</ul>
<form method="POST">{% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-danger">Submit</button>
</form>
{% endblock %}
<!-- <!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="background-color: orange; color: white">
    <h1>Hello, Python & Django Home page from render template</h1>
    <ul>
        <a href="/">
            <li>Home</li>
        </a>
        <a href="/base">
            <li>Base</li>
        </a>
    </ul>
</body>

</html> -->